USE [master]
GO
/****** Object:  Database [HazardMusic]    Script Date: 8/27/2019 6:01:46 PM ******/
CREATE DATABASE [HazardMusic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HazardMusic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.AKAKSHUKI\MSSQL\DATA\HazardMusic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HazardMusic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.AKAKSHUKI\MSSQL\DATA\HazardMusic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HazardMusic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HazardMusic]
GO
USE [HazardMusic]
GO
/****** Object:  Table [dbo].[Account_User]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_User](
	[U_ID] [int] IDENTITY(1,1) NOT NULL,
	[U_Name] [nvarchar](100) NOT NULL,
	[U_Password] [nvarchar](50) NOT NULL,
	[U_Adress] [nvarchar](30) NULL,
	[U_Country] [nvarchar](30) NULL,
	[U_Bio] [nvarchar](200) NULL,
	[U_Image] [image] NULL,
	[U_Mail] [varchar](100) NULL,
	[U_Phone] [varchar](100) NULL,
	[U_Status] [bit] NULL,
	[U_CheckOnline] [bit] NULL,
	[R_ID] [int] NULL,
	[U_DateJoin] [date] NULL,
	[U_BirthDate] [date] NULL,
	[U_FullName] [nvarchar](50) NULL,
	[U_IP] [varchar](20) NULL,
 CONSTRAINT [PK_Account_User] PRIMARY KEY CLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_Acount] UNIQUE NONCLUSTERED 
(
	[U_Name] ASC,
	[U_Mail] ASC,
	[U_Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_Person] UNIQUE NONCLUSTERED 
(
	[U_Name] ASC,
	[U_Mail] ASC,
	[U_Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File_Music]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File_Music](
	[M_ID] [int] IDENTITY(1,1) NOT NULL,
	[M_Name] [nvarchar](50) NOT NULL,
	[M_Singer] [nvarchar](50) NULL,
	[M_Decription] [nvarchar](100) NULL,
	[M_Status] [bit] NULL,
	[M_DateAdd] [date] NULL,
	[U_ID] [int] NULL,
	[M_File] [varbinary](max) NULL,
 CONSTRAINT [PK_File_Music] PRIMARY KEY CLUSTERED 
(
	[M_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relation_Ship]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relation_Ship](
	[RL_ID] [int] IDENTITY(1,1) NOT NULL,
	[U_ID_1] [int] NOT NULL,
	[U_ID_2] [int] NOT NULL,
	[RL_Status] [bit] NOT NULL,
	[RL_AcceptAction] [bit] NOT NULL,
	[RL_Date] [date] NOT NULL,
 CONSTRAINT [PK_Relation_Ship] PRIMARY KEY CLUSTERED 
(
	[RL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_File]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_File](
	[RQ_ID] [int] IDENTITY(1,1) NOT NULL,
	[RLS_ID] [int] NULL,
	[M_ID] [int] NULL,
	[RQ_ContentTo] [nvarchar](100) NULL,
	[RQ_ContenFrom] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
	[U_IDTo] [int] NOT NULL,
	[U_IDFrom] [int] NOT NULL,
	[RQ_Date] [date] NULL,
	[RQ_Accept] [bit] NOT NULL,
 CONSTRAINT [PK_Request_File] PRIMARY KEY CLUSTERED 
(
	[RQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_User]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_User](
	[R_ID] [int] IDENTITY(1,1) NOT NULL,
	[R_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role_UserA] PRIMARY KEY CLUSTERED 
(
	[R_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account_User] ADD  CONSTRAINT [DF_Account_User_U_Status]  DEFAULT ((1)) FOR [U_Status]
GO
ALTER TABLE [dbo].[Account_User] ADD  CONSTRAINT [DF_Account_User_U_CheckOnline]  DEFAULT ((0)) FOR [U_CheckOnline]
GO
ALTER TABLE [dbo].[File_Music] ADD  CONSTRAINT [DF_File_Music_M_Status]  DEFAULT ((1)) FOR [M_Status]
GO
ALTER TABLE [dbo].[Relation_Ship] ADD  CONSTRAINT [DF_Relation_Ship_RL_Status]  DEFAULT ((0)) FOR [RL_Status]
GO
ALTER TABLE [dbo].[Relation_Ship] ADD  CONSTRAINT [DF_Relation_Ship_RL_AcceptAction]  DEFAULT ((0)) FOR [RL_AcceptAction]
GO
ALTER TABLE [dbo].[Request_File] ADD  CONSTRAINT [DF_Request_File_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Request_File] ADD  CONSTRAINT [DF_Request_File_RQ_Accept]  DEFAULT ((0)) FOR [RQ_Accept]
GO
ALTER TABLE [dbo].[Account_User]  WITH CHECK ADD  CONSTRAINT [FK_Account_User_Role_User] FOREIGN KEY([R_ID])
REFERENCES [dbo].[Role_User] ([R_ID])
GO
ALTER TABLE [dbo].[Account_User] CHECK CONSTRAINT [FK_Account_User_Role_User]
GO
ALTER TABLE [dbo].[File_Music]  WITH CHECK ADD  CONSTRAINT [FK_File_Music_Account_User] FOREIGN KEY([U_ID])
REFERENCES [dbo].[Account_User] ([U_ID])
GO
ALTER TABLE [dbo].[File_Music] CHECK CONSTRAINT [FK_File_Music_Account_User]
GO
ALTER TABLE [dbo].[Request_File]  WITH CHECK ADD  CONSTRAINT [FK_Request_File_File_Music] FOREIGN KEY([M_ID])
REFERENCES [dbo].[File_Music] ([M_ID])
GO
ALTER TABLE [dbo].[Request_File] CHECK CONSTRAINT [FK_Request_File_File_Music]
GO
ALTER TABLE [dbo].[Request_File]  WITH CHECK ADD  CONSTRAINT [FK_Request_File_Relation_Ship] FOREIGN KEY([RLS_ID])
REFERENCES [dbo].[Relation_Ship] ([RL_ID])
GO
ALTER TABLE [dbo].[Request_File] CHECK CONSTRAINT [FK_Request_File_Relation_Ship]
GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddNewUser]
@U_Name NVARCHAR(50),
@U_Password NVARCHAR(50),
@U_Mail NVARCHAR(100),
@U_FullName NVARCHAR(50),
@U_Birthdate DATE,
@U_DateJoin DATE,
@R_ID INT,
@U_Image    IMAGE
AS
BEGIN
    INSERT INTO Account_User(U_Name, U_Password,U_Mail,U_FullName,U_BirthDate,U_DateJoin,R_ID,U_Image)  VALUES (@U_Name,@U_Password,@U_Mail,@U_FullName,@U_Birthdate,@U_DateJoin,@R_ID,@U_Image)
END
GO
/****** Object:  StoredProcedure [dbo].[checkMail]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
     CREATE proc [dbo].[checkMail]
    @U_Mail VARCHAR(50)
    AS
    BEGIN
        SELECT *  FROM Account_User WHERE U_Mail = @U_Mail
    END
GO
/****** Object:  StoredProcedure [dbo].[checKUSER]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[checKUSER]
@U_Name VARCHAR(50)
AS
BEGIN
    SELECT *  FROM Account_User WHERE U_Name = @U_Name
END
GO
/****** Object:  StoredProcedure [dbo].[LoadUserOnline]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoadUserOnline]
@U_ID int 
AS
BEGIN
    SELECT *
    FROM Account_User
    WHERE U_ID = @U_ID
END
GO
/****** Object:  StoredProcedure [dbo].[login]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[login]
@U_Name NVARCHAR(50),
@U_Password NVARCHAR(50)
AS
BEGIN
 SELECT * FROM Account_User WHERE U_Name =@U_Name and U_Password = @U_Password
END
GO
/****** Object:  StoredProcedure [dbo].[SetOfflineForUser]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SetOfflineForUser]
    @U_ID INT,
    @U_Online BIT
    as
BEGIN
    UPDATE Account_User 
   set U_IP = ' ', U_CheckOnline= @U_Online
   WHERE U_ID = @U_ID

END
GO
/****** Object:  StoredProcedure [dbo].[SetOnlineForUser]    Script Date: 8/27/2019 6:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SetOnlineForUser]
    @U_ID INT,
    @U_IP VARCHAR(15),
    @U_Online BIT
as
BEGIN
    UPDATE Account_User 
   set U_IP = @U_IP, U_CheckOnline= @U_Online
   WHERE U_ID = @U_ID

END
GO
USE [master]
GO
